.select-style {
    border: 1px solid #ced4da;
    outline: none;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    font-size: 1rem;
    height: calc(1.5em + 0.75rem + 2px);
    width: 100%;
}
.select-style:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.form-sub {
    display: none;
}